mat-input-container{
  margin-left: 200px;
}
mat-divider{
  margin-top: 30px;
}
.addButton{
  margin-top: 20px;
  margin-left: 20px;
}
.advise{
  margin-top: 30px;
  margin-left: -20px;
  width: 400px;
}
mat-card{
  overflow: hidden;
 }
